# Prioritize Dart files for detection
*.dart linguist-detectable=true

# Exclude CMake files from detection
*.cmake linguist-detectable=false

# Exclude C++ files (if any)
*.cpp linguist-detectable=false
*.h linguist-detectable=false



